.game-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  background-color: #1f2023;
}

.game-infos {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-name-and-pic {
  height: 90vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  font-size: 35px;
}

.game-image {
  width: 40vw;
  height: 50vh;
  object-fit: cover;
  border-radius: 5px;
}

.game-details {
  height: 90vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

.game-btns {
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-btns button {
  height: 40px;
  margin-right: 10px;
}

.game-desc-div {
  display: flex;
  flex-direction: column;
  width: 530px;
  align-self: center;
  margin-left: 0px;
}

.game-desc-title {
  margin: 5px;
  font-family: "Exo", sans-serif;
  font-weight: 300;
  color: #5e5e5f;
  margin-bottom: -20px;
}

.game-description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Exo", sans-serif;
  color: white;
  height: 100px;
  margin: 0px;
  margin-left: 5px;
}

.details-cols {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5px;
}

.details-left-col {
  width: 200px;
}

.details-right-col {
  width: 200px;
}

.details-left-col h4 {
  font-family: "Exo", sans-serif;
  color: #5e5e5f;
  font-weight: 300;
  margin: 5px;
}

.details-left-col span {
  font-family: "Exo", sans-serif;
  color: white;
}

.details-right-col h4 {
  font-family: "Exo", sans-serif;
  color: #5e5e5f;
  font-weight: 300;
  margin: 5px;
}

.details-right-col span {
  font-family: "Exo", sans-serif;
  color: white;
}

/*---------- GAMES SUGGESTIONS ----------*/
/* .suggested-games {
} */
