.body {
  margin: 0px;
}

.main {
  background-color: #1f2023;
  display: flex;
  flex-direction: column;
}

/*---------- TOP BAR ----------*/

.topOfPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeLogoAndTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homeTitle {
  color: white;
  font-size: 100px;
  font-family: "Exo", sans-serif;
  font-weight: 400;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.input input {
  width: 500px;
  height: 40px;
}

.input input::placeholder {
  font-size: 18px;
  font-family: "Exo", sans-serif;
  padding-left: 10px;
}

.searchIcon {
  position: absolute;
  right: 20px;
  top: 12px;
  font-size: 20px;
}

.input span {
  color: white;
  margin-top: 20px;
  font-family: "Exo", sans-serif;
}

/*---------- GAMES LIST ----------*/
.gamesMain {
  margin: 50px 50px 0 50px;
  width: 1100px;
  align-self: center;
}

h2 {
  color: white;
  font-size: 30px;
  font-weight: 500;
  font-family: "Exo", sans-serif;
}

.gamesList {
  display: flex;
  flex-wrap: wrap;
}

.gameCard {
  height: 250px;
  width: 200px;
  flex: 20%;
  margin-bottom: 35px;
  position: relative;
}

.gameCard img {
  height: 250px;
  width: 200px;
  object-fit: cover;
}

.gameTitle {
  color: white;
  font-family: "exo", sans-serif;
  margin-left: 5px;
  position: absolute;
  bottom: 0px;
  width: 190px;
  overflow: auto;
}
