/*---------- HEADER (LOGGED IN) ---------- */
.header-loggedin {
  background-color: black;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  margin-left: 1vw;
}

.logo-img {
  height: 10vh;
  margin-top: 1vh;
}

.logo-title {
  color: white;
  font-family: "Exo", sans-serif;
}

.buttons-logged-in {
  margin-right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-logged-in span {
  margin-right: 1vw;
}

.user-pic {
  border-radius: 50%;
  height: 6vh;
  margin-right: 1vw;
}

.signout-btn {
  width: 8vw;
  height: 5vh;
  font-size: 2px;
}

/*---------- HEADER (NOT LOGGED IN) ---------- */
.header {
  background-color: #1f2023;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #ff4655 4px solid;
  position: fixed;
  width: 100%;
  z-index: 3000;
  top: 0;
}

.buttons {
  margin-right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons Button {
  margin-left: 1vw;
}

/*---------- MODAL ---------- */
.modal {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 25%;
  left: 30%;
  background: rgba(51, 46, 46, 0.2);
  box-shadow: 0 8px 32px 0 rgba(33, 33, 34, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal p {
  color: white;
}
