.signup-main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1f2023;
  margin-top: 20px;
}

.signup-infos {
  background-color: #171717;
  height: 70vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #eb565b;
}

.signup-infos span {
  color: white;
  font-family: "Exo", sans-serif;
  width: 20vw;
  margin-bottom: 20px;
}

.signup-div {
  background-color: #333435;
  height: 70vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #eb565b;
}

.signup-div h2 {
  align-self: flex-start;
  margin-left: 40px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password-inputs {
  display: flex;
  flex-direction: row;
}

.long-input {
  width: 20vw;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

.long-input:focus {
  outline: none;
  border: 1px solid #eb565b;
}

.short-input {
  width: 9.6vw;
  margin-right: 0.3vw;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

.short-input:focus {
  outline: none;
  border: 1px solid #eb565b;
}

.signup-form button {
  width: 20vw;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #eb565b;
  color: white;
  font-family: "Exo", sans-serif;
}
